Repository sliit-foss/npm-catalogue: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx prettier --write \"**/*.{js,ts,tsx,md}\" --cache {staged_files} && git add {staged_files}

lint:
  run: npx eslint --cache {staged_files} --fix && git add {staged_files}

Chore: updated lockfile
  .gitignore
  lefthook.yaml
  package.json
  pnpm-lock.yaml
  scripts/lint.sh
Due: format

Docs: update require statements for default exports
  packages/http-logger/readme.md
  packages/service-connector/readme.md
Due: format

Fix(actions-exec-wrapper): link types in package.json
  packages/actions-exec-wrapper/package.json
Due: format

Chore: updated lefthook scripts
  .prettierrc
  lefthook.yaml
  packages/mongoose-filter-query/src/index.js
  packages/mongoose-filter-query/src/utils.js
  packages/mongoose-filter-query/test/__mocks.js
  plugins/babel-plugin-transform-trace/test/index.test.js
  plugins/mongoose-audit/readme.md
  plugins/mongoose-audit/src/constants.js
  plugins/mongoose-audit/src/plugin.js
  plugins/mongoose-audit/test/index.test.js
Due: format, lint

feat(actions-exec-wrapper): add type support
  packages/actions-exec-wrapper/types/index.d.ts
Due: format, lint

Fix(filter-query): added automatic parsing of object ids
  packages/mongoose-filter-query/package.json
  packages/mongoose-filter-query/src/utils.js
  pnpm-lock.yaml
Due: format, lint

Fix(mongoose-filter-query): incorrect parsing of regexp
  packages/mongoose-filter-query/src/utils.js
Due: format, lint

Fix(filter-query): in & nin object id parse
  packages/mongoose-filter-query/src/utils.js
Due: format, lint

Fix(mongoose-filter-query): default boolean parsing
  packages/mongoose-filter-query/src/utils.js
Due: format, lint

Fix: erroneus test
  packages/mongoose-filter-query/test/__mocks.js
Due: format, lint

Feat!(filter-query): added prepaginate flag to query
  packages/mongoose-filter-query/src/index.js
Due: format, lint

Feat(filter-query): added support for regexp modifiers
  packages/mongoose-filter-query/src/utils.js
Due: format, lint

Feat(service-connector): added support for retrying
  packages/service-connector/package.json
  packages/service-connector/src/index.js
  packages/service-connector/test/index.test.js
  packages/service-connector/types/index.d.ts
  pnpm-lock.yaml
Due: format, lint

Feat!: added aggregate paginate plugin
  plugins/mongoose-aggregate-paginate-v2/types/index.d.ts
  pnpm-lock.yaml
Due: format, lint

Style: remove unwanted .gitkeep file
  .github/actions/.gitkeep
Due: none

Fix: remove fixed pnpm version
  package.json
  pnpm-lock.yaml
Due: format

Feat(json-hash): add new package json-hash
  packages/json-hash/package.json
  packages/json-hash/src/algorthms.js
  packages/json-hash/src/index.js
  packages/json-hash/test/index.test.js
Due: format, lint

Style(json-hash): remove commented code
  packages/json-hash/src/index.js
Due: format, lint

Refactor(json-hash): remove redundant code
  packages/json-hash/src/algorthms.js
  packages/json-hash/src/index.js
  packages/json-hash/test/index.test.js
Due: format, lint

Test(json-hash): remove browser tests, fix async issue and add test for invalid algorithm
  packages/json-hash/package.json
  packages/json-hash/test/index.test.js
  pnpm-lock.yaml
Due: format, lint

Patch(aggregate-paginate): added match stage before facet to use indexing
  plugins/mongoose-aggregate-paginate-v2/src/core.js
Due: format, lint

Fix(filter-query): bug in not equals boolean parsing
  packages/mongoose-filter-query/src/utils.js
Due: format, lint

Chore: updated lockfile
  package.json
  pnpm-lock.yaml
Due: format

Chore: updated pnpm version in workflows
  .github/actions/release/action.yml
Due: format

Chore: delete .eslintcache file
  plugins/mongoose-aggregate-paginate-v2/.eslintcache
Due: none

Chore: updated workflow node versions to 18
  .github/actions/release/action.yml
  .github/workflows/lint-test.yml
Due: format

Patch: updated timekeeper runner
  packages/timekeeper/package.json
  packages/timekeeper/src/runner.js
  pnpm-lock.yaml
Due: format, lint

Chore: updated workflow permissions
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: format

Patch(timekeeper): downgraded functions version
  packages/timekeeper/src/runner.js
Due: format, lint

Patch(timekeeper): updated description
  packages/timekeeper/src/index.js
Due: format, lint

Fix(timekeeper): updated binary name
  packages/timekeeper/.eslintcache
  packages/timekeeper/package.json
Due: format

Patch(timekeeper): updated dependencies
  packages/timekeeper/package.json
  packages/timekeeper/src/runner.js
  pnpm-lock.yaml
Due: format, lint

Patch(timekeeper): updated dependencies
  packages/timekeeper/package.json
  pnpm-lock.yaml
Due: format

Update package.json lodash version to 4.17.21
  plugins/mongoose-audit/package.json
Due: format

Update package.json
  plugins/mongoose-audit/package.json
Due: format

Feat(http-logger): added onFinish option
  packages/http-logger/src/index.js
  packages/http-logger/types/index.d.ts
Due: format, lint

Fix: updated lockfile
  plugins/mongoose-audit/package.json
  pnpm-lock.yaml
Due: format

Path conditions:
  format: any of: *.{css,html,json,less,md,scss,yaml,yml,js,jsx,ts,tsx}
  lint: any of: *.{js,jsx,ts,tsx}
