Repository sliit-foss/npm-catalogue: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx prettier --write --cache {staged_files} && git add {staged_files}

lint:
  run: npm run lint && git add {staged_files}

Feat(aggregate-pipeline): added experimental optimize option
  plugins/mongoose-aggregate-paginate-v2/src/core.js
  plugins/mongoose-aggregate-paginate-v2/types/index.d.ts
Due: format, lint

Feat(aggregate-paginate)!: optimized pipelines by defa ult
  plugins/mongoose-aggregate-paginate-v2/src/core.js
  plugins/mongoose-aggregate-paginate-v2/test/index.test.js
  plugins/mongoose-aggregate-paginate-v2/types/index.d.ts
Due: format, lint

Test: skipped flaky firebase test since package is outdated
  packages/firebase/package.json
Due: format

Test(module-logger): fixed flaky test
  packages/module-logger/test/index.test.js
Due: format, lint

Fix(aggregate-paginate)!: test failure
  plugins/mongoose-aggregate-paginate-v2/test/index.test.js
Due: format, lint

Feat(aggregate-paginate)!: slightly improved performance
  plugins/mongoose-aggregate-paginate-v2/src/core.js
  plugins/mongoose-aggregate-paginate-v2/test/index.test.js
Due: format, lint

Fix!: updated aggregate paginate model query type
  plugins/mongoose-aggregate-paginate-v2/types/index.d.ts
Due: format, lint

Feat: added typeorm filter query package
  packages/typeorm-filter-query/package.json
  packages/typeorm-filter-query/readme.md
  packages/typeorm-filter-query/src/index.js
  packages/typeorm-filter-query/src/utils/driver.js
  packages/typeorm-filter-query/src/utils/index.js
  packages/typeorm-filter-query/test/__mocks.js
  packages/typeorm-filter-query/test/index.test.js
Due: format, lint

Fix: updated lockfile
  pnpm-lock.yaml
Due: format

Feat(typeorm-filter-query): parsed page and limit
  packages/typeorm-filter-query/src/index.js
  packages/typeorm-filter-query/test/__mocks.js
Due: format, lint

Feat!: migrated actions exec and context to typescript
  .eslintrc
  .gitignore
  .npmignore
  jest.config.js
  jest.config.ts
  package.json
  packages/actions-exec-wrapper/package.json
  packages/actions-exec-wrapper/src/index.js
  packages/actions-exec-wrapper/src/index.ts
  packages/actions-exec-wrapper/test/index.test.ts
  packages/actions-exec-wrapper/types/index.d.ts
  packages/express-http-context/package.json
  packages/express-http-context/readme.md
  packages/express-http-context/src/browser.js
  packages/express-http-context/src/index.ts
  packages/express-http-context/test/index.test.js
  packages/express-http-context/test/index.test.ts
  packages/express-http-context/types/index.d.ts
  pnpm-lock.yaml
  scripts/build-types.sh
  scripts/esbuild.config.js
  scripts/lint.sh
  scripts/test/test.sh
Due: format, lint

Fix: added detect open handles to jest command
  scripts/test/test.sh
Due: none

Fix: typescript dependency
  package.json
  pnpm-lock.yaml
Due: format

Fix: type err
  package.json
  pnpm-lock.yaml
Due: format

Feat!: updated diff check of automatic versioning
  packages/automatic-versioning/src/types/default.js
Due: format, lint

Patch(automatic-versioning): migrated to ts and improved slightly performance
  packages/automatic-versioning/package.json
  packages/automatic-versioning/src/index.ts
  packages/automatic-versioning/src/types/default.ts
  packages/automatic-versioning/src/types/index.ts
  packages/automatic-versioning/src/types/tag-based.ts
  packages/automatic-versioning/src/utils/runner.js
  packages/automatic-versioning/src/utils/runner.ts
  packages/automatic-versioning/test/index.test.ts
  packages/automatic-versioning/test/setup.ts
  packages/automatic-versioning/test/util.ts
  pnpm-lock.yaml
  scripts/build-types.sh
  scripts/bump-version.sh
  tsconfig.json
Due: format, lint

Feat!: migrated module logger to ts and updated context
  .eslintrc
  packages/firebase/src/libs/realtimeDB.js
  packages/module-logger/package.json
  packages/module-logger/readme.md
  packages/module-logger/src/index.ts
  packages/module-logger/test/index.test.ts
  packages/module-logger/types/index.d.ts
  pnpm-lock.yaml
Due: format, lint

Patch: migrated typeorm filter query to typescript
  packages/typeorm-filter-query/package.json
  packages/typeorm-filter-query/src/index.ts
  packages/typeorm-filter-query/src/utils/driver.ts
  packages/typeorm-filter-query/src/utils/index.ts
  packages/typeorm-filter-query/test/__mocks.ts
  packages/typeorm-filter-query/test/index.test.ts
  pnpm-lock.yaml
Due: format, lint

Fix: typeorm filter query build script
  packages/typeorm-filter-query/package.json
Due: format

Patch(mongoose-filter-query): migrated to typescript
  packages/mongoose-filter-query/package.json
  packages/mongoose-filter-query/src/index.ts
  packages/mongoose-filter-query/src/utils.ts
  packages/mongoose-filter-query/test/__mocks.ts
  packages/mongoose-filter-query/test/index.test.ts
  pnpm-lock.yaml
Due: format, lint

Refactor: filter query types
  packages/mongoose-filter-query/test/__mocks.ts
  packages/typeorm-filter-query/test/__mocks.ts
Due: format, lint

Refactor(clusterizer): migrated to typescript
  packages/clusterizer/src/index.ts
  packages/clusterizer/test/index.test.ts
  packages/clusterizer/types/index.d.ts
Due: format, lint

Refactor(clusterize): type definition
  packages/clusterizer/src/index.ts
Due: format, lint

Feat!: migrated http logger to typescript and updated logger package
  packages/http-logger/package.json
  packages/http-logger/src/index.ts
  packages/http-logger/test/__mocks.ts
  packages/http-logger/test/index.test.ts
  packages/http-logger/types/index.d.ts
  pnpm-lock.yaml
Due: format, lint

Feat!: migrated service connector to typescript and updated logger and context
  packages/service-connector/package.json
  packages/service-connector/src/helpers/colors.ts
  packages/service-connector/src/helpers/index.ts
  packages/service-connector/src/helpers/logFormatter.js
  packages/service-connector/src/helpers/logFormatter.ts
  packages/service-connector/src/index.ts
  packages/service-connector/test/index.test.ts
  packages/service-connector/types/index.d.ts
  pnpm-lock.yaml
Due: format, lint

Chore: excluded 2 packages from workspace
  pnpm-workspace.yaml
Due: format

Feat!: migrated functions to typescript and updated logger and context
  packages/functions/package.json
  packages/functions/src/async.js
  packages/functions/src/async.ts
  packages/functions/src/bind.js
  packages/functions/src/bind.ts
  packages/functions/src/cached.js
  packages/functions/src/cached.ts
  packages/functions/src/index.ts
  packages/functions/src/traced.js
  packages/functions/src/traced.ts
  packages/functions/src/utils/index.ts
  packages/functions/test/__mocks__/index.ts
  packages/functions/test/__mocks__/logger.js
  packages/functions/test/__mocks__/logger.ts
  packages/functions/test/async.test.ts
  packages/functions/test/bind.test.ts
  packages/functions/test/cached.test.js
  packages/functions/test/cached.test.ts
  packages/functions/test/traced.test.ts
  packages/functions/types/async.d.ts
  packages/functions/types/index.d.ts
  packages/functions/types/traced.d.ts
  pnpm-lock.yaml
Due: format, lint

Feat(functions): added preserveContext function
  packages/functions/src/async.ts
  packages/functions/src/bind.ts
  packages/functions/test/bind.test.ts
Due: format, lint

Fix: type error
  packages/functions/src/async.ts
Due: format, lint

Feat: added zelebrate package
  packages/zelebrate/package.json
  packages/zelebrate/readme.md
  packages/zelebrate/src/constants.ts
  packages/zelebrate/src/error.ts
  packages/zelebrate/src/index.ts
  packages/zelebrate/src/schema.ts
  packages/zelebrate/src/zelebrate.ts
  packages/zelebrate/test/index.test.ts
  pnpm-lock.yaml
  tsconfig.json
Due: format, lint

Build: updated build types script
  scripts/build-types.sh
Due: none

Build: updated tsconfig and build types command
  scripts/build-types.sh
  tsconfig.json
Due: format

Fix(automatic-versioning): issue with new package publish
  packages/automatic-versioning/src/types/default.ts
Due: format, lint

Fix: exported zod from zelebrate
  packages/zelebrate/src/zelebrate.ts
Due: format, lint

Test: functions type err
  packages/functions/test/async.test.ts
Due: format, lint

Fix(zelebrate): export issue
  packages/zelebrate/src/zelebrate.ts
Due: format, lint

Fix: temporarily commented out test script
  packages/zelebrate/package.json
Due: format

Fix(automatic-versioning): prerelease auto sync
  packages/automatic-versioning/src/types/default.ts
Due: format, lint

Fix(automatic-versioning): auto syncing new packages
  packages/automatic-versioning/src/types/default.ts
  packages/automatic-versioning/test/index.test.ts
  packages/automatic-versioning/test/util.ts
Due: format, lint

Path conditions:
  format: any of: *.{css,html,json,less,md,scss,yaml,yml,js,jsx,ts,tsx}
  lint: any of: *.{js,jsx,ts,tsx}
